*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif


input, select, textarea, span, button, ul, li
  font-family:inherit

.header
  background: #121F67
  padding: 24px 40px

.header__title--row
  display: flex
  align-items: center
  margin-bottom: 14px

.header__logo
  color: white

.header__title  
  color: white
  font-size: 24px
  font-weight: 500
  border-left: 1px solid white
  margin: 0px 10px
  padding: 0 10px

.header__description
  color: white
  font-size: 14px
  margin-bottom: 14px
  width: 50%

.header__price--row
  display: flex
  align-items: flex-end

.header__currency
  color: white
  font-size: 14px
  margin-right: 5px

.header__price
  color: white
  font-size: 24px
  margin-right: 12px

.header__button
  color: white
  background: linear-gradient(200deg, #ff5e00, #f19d6d) 
  border: none
  border-radius: 5px
  padding: 5px 10px

.header__button:hover
  cursor: pointer
