*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif


input, select, textarea, span, button, ul, li
  font-family:inherit

.header
  background: #121F67
  padding: 34px 60px
  border-bottom: 5px solid #ff5e00

.header__title--row
  display: flex
  align-items: flex-end
  margin-bottom: 14px

.header__logo  
  margin-bottom: 1px

.header__title  
  color: white
  font-size: 32px
  font-weight: 500
  border-left: 1px solid white
  margin: 0px 10px
  padding: 0 10px

.header__description
  color: white
  font-size: 16px
  margin-bottom: 14px
  width: 50%

.header__price--row
  display: flex
  align-items: flex-end

.header__currency
  color: white
  font-size: 16px
  margin-right: 5px

.header__price
  color: white
  font-size: 32px
  margin-right: 12px

.header__button
  color: white
  font-size: 16px
  background: linear-gradient(200deg, #ff5e00, #f19d6d) 
  border: none
  border-radius: 5px
  padding: 5px 10px

.header__button:hover
  cursor: pointer

.menu ul
  display: flex
  list-style-type: none
  justify-content: space-between
  padding: 12px

.menu ul li
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  font-size: 18px
  padding: 14px
  color: gray

.menu ul li span
  font-size: 32px
